<section>
  <div class='gutters' fxLayout="row wrap" fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%">
      <p class='first-line'>Our Search. Your Success.</p>

      <p class='title text-5xl font-bold'>Hire the best <span class="text-primary-500">Employees</span>. In the world.
      </p>

      <p class="text">OnePercentPeople sources the best employees in Latin America that will help grow your company.</p>

      <div>
        <button class="employer btn btn-filled primary" [routerLink]="['/get-started/employer']">Hire Top
          Talent</button>
        <button class="talent btn btn-outlined" [routerLink]="['/get-started/talent']"><span
            class="text-primary-500">Apply as an Employee</span></button>
      </div>
    </div>

    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%">
      <img src="/assets/images/hero/hero-image.png" class='hero-image' />
    </div>
  </div>
</section>
