<!-- Header Section Start -->
<header id="home" class="hero-area">    
    <div class="overlay">
    </div>
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <a href="index.html" class="navbar-brand"><img src="/assets/img/OnePercentPeople-logo.png" style="width:300px;position:relative;left:-20px" alt=""></a>       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link page-scroll" [routerLink]="['']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">About</a>
              </li>
              <li class="nav-item" *ngIf="!isUserAuthenticated">
                <a class="nav-link page-scroll" [routerLink]="['/employer-signup']">Employer Sign Up</a>
              </li> 
              <li class="nav-item" *ngIf="!isUserAuthenticated">
                <a class="btn btn-singin" [routerLink]="['/talent-signup']">Talent Sign Up</a>
              </li>
              <li class="nav-item" *ngIf="!isUserAuthenticated">
                <a class="nav-link page-scroll" [routerLink]="['/login']">Login</a>
              </li>
              <li class="nav-item" *ngIf="isUserAuthenticated">
                <a class="nav-link page-scroll" (click)="logout()">Logout</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>  
    <div class="container" style="height:80px">      
      <div class="row space-100">
        <div class="col-lg-6 col-md-12 col-xs-12">
        </div>
      </div> 
    </div>             
    </header>
    <!-- Header Section End --> 