.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}
.nav-spacer {
  flex: 1 1 auto;
}
a {
  text-decoration: none;
}


.dropdown {
  position: absolute;
  top: 4rem;
  width: 100vw;
  color: #fff;
}
