<section>
  <div class="gutters flex flex-row flex-wrap items-center">
    <div class="w-full md:w-1/2 md:pr-8">
      <p class='text-sm font-bold text-primary-500'>Employees</p>
      <p class="text-2xl font-bold mb-8">Find a permanent remote job with a US company.</p>

      <div class="flex mt-4">
        <hero-icon icon="user-add" class="pr-4 flex-initial text-gray-800"></hero-icon>
        <p class="flex-initial text-gray-900">Create your profile and let companies find you</p>
      </div>

      <div class="flex mt-4">
        <hero-icon icon="speakerphone" class="pr-4 flex-initial text-gray-800"></hero-icon>
        <p class="flex-initial text-gray-900">Get interview offers from top US companies and decide who you want to
          meet</p>
      </div>

      <div class="flex mt-4">
        <hero-icon icon="cursor-click" class="pr-4 flex-initial text-gray-800"></hero-icon>
        <p class="flex-initial text-gray-900">Stop searching and let us send you US based remote jobs</p>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <img src="/assets/images/screenshots/talent-dashboard.png" />
    </div>
  </div>

  <div class="gutters flex flex-row flex-wrap mt-16 items-center">
    <div class="w-full md:w-1/2 order-2 md:order-1">
      <img src="/assets/images/screenshots/employer-dashboard-applicants.png" />
    </div>
    <div class="w-full md:w-1/2 md:pl-8 order-1 md:order-2">
      <p class='text-sm font-bold text-primary-500'>Employer</p>
      <p class="text-2xl font-bold mb-8">Find the best remote talent sourced from Central and South America.</p>

      <div class="flex mt-4">
        <hero-icon icon="briefcase" class="pr-4 flex-initial text-gray-800"></hero-icon>
        <p class="flex-initial text-gray-900">Create a job and let the best talent apply to your job</p>
      </div>

      <div class="flex mt-4">
        <hero-icon icon="document-search" class="pr-4 flex-initial text-gray-800"></hero-icon>
        <p class="flex-initial text-gray-900">Review applicants and decide who you want to hire</p>
      </div>

      <div class="flex mt-4">
        <hero-icon icon="cursor-click" class="pr-4 flex-initial text-gray-800"></hero-icon>
        <p class="flex-initial text-gray-900">Stop searching and let us send you the best talent</p>
      </div>
    </div>
  </div>
</section>
