section {
  background: url("/assets/images/hero/work-people.png");
  // height: 100vh;
  height: 100vh;
  max-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 15rem;
}
