<section>
  <div class='gutters' fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="35%">
      <img src="/assets/images/about/team-hands.png" />
    </div>
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="45%">
      <p class='text-3xl'>🎯</p>
      <p class='text-3xl'>Our Vision</p>
      <p>We believe in a world where the best talent should have the best opportunities. We work each and everyday to
        achieve this.</p>
    </div>
  </div>

  <div class='gutters row-two' fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="45%">
      <p class='text-3xl'>🚀</p>
      <p class='text-3xl'>Our Mission</p>
      <p>We're on a mission to help candidates from LATAM get the best opportunities with the best US Companies.</p>
    </div>
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="35%">
      <img src="/assets/images/about/team-computer.png" />
    </div>
  </div>

</section>
