img.person {
  width: auto;
  height: auto;
  max-width: 100%;
}
img.quotation-mark {
  opacity: 0.2;
}
img.avatar {
  margin-right: 1rem;
}
.flare {
  position: relative;
  left: 70%;
  top: 5rem;

  img.text {
    position: relative;
    top: -12em;
    right: -8em;
    transform: rotate(-25deg);
  }
  p{
    position: relative;
    top: -9em;
    right: -6em;
    span {
      transform: rotate(-45deg);
      display: inline-block;
    }
  }
}

@media screen and (max-width: 960px) {
  .flare {
    margin-top: 3rem;
    margin-bottom: 2rem;
    top: 0;
    left: 30%;
    .loop {
      height: 4em;
    }
    .text {
      top: -5rem!important;
      right: -6rem!important;
    }
  }
}
