<section class="text-gray-900">
  <div class='gutters' fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout="column">
      <p class='text-center text-primary-500'>Testimonials</p>
      <p class="text-4xl font-medium mb-16 text-center">Hiring employees in Latin America is more cost effective and the
        talent pool is larger.</p>
    </div>
  </div>

  <div class='gutters' fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFlex="90%" fxFlex.gt-sm="50%" class="">
      <img class="quotation-mark" src="/assets/images/icons/quotation.svg" width="50" height="50" />
      <p>We had a great team within the company, but were always afraid we were in the echo chamber of our own ideas. We
        love bringing in freelancers from OnePercentPeople to help check our bias, teach us best practices from other
        companies, and spark new ideas.</p>
      <!-- <p>Read Case Study</p> -->
      <div fxLayout="row" fxFlex="90%" fxFlex.gt-sm="50%" class="">
        <img class="avatar" src="/assets/images/avatars/avatar-9.png" width="60" height="60" />
        <img class="avatar" src="/assets/images/avatars/avatar-10.png" width="60" height="60" />
        <img class="avatar" src="/assets/images/avatars/avatar-11.png" width="60" height="60" />
        <img class="avatar" src="/assets/images/avatars/avatar-12.png" width="60" height="60" />
      </div>
      <div class="flare">
        <img class="loop" src="/assets/images/flare/loop.svg" width="120" height="120" />
        <img class="text" src="/assets/images/flare/so-are-you-ready.svg" width="120" height="40" />

        <!-- <p><span>So, are you ready?</span></p> -->
      </div>
    </div>
    <div fxLayout="column" fxFlex="90%" fxFlex.gt-sm="33%" class="text-center">
      <img class="person" src="/assets/images/testimonials/testimonial.png" width="334" height="339" />
    </div>

  </div>
</section>
