<section>
  <div class='gutters' fxLayout="row wrap" fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%">
      <p class="text-5xl font-medium">Our People 🙌</p>
    </div>
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%">
      <p></p>
    </div>
  </div>
  <div class='gutters mt-10' fxLayout="row wrap" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="100%">
      <img src="/assets/images/about/our-people.png" />
    </div>
  </div>
</section>
