<app-layout-default>
  <div class='' fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="60%">
      <div class='' fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="70%">
          <h1 class="text-4xl font-bold mb-4">
            Create an<br />
            Employer Account
          </h1>

          <app-employer-register-form></app-employer-register-form>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="40%" class="preview">
      <img src="/assets/images/screenshots/employer-register.png" />
    </div>
  </div>
</app-layout-default>
