<app-layout-dashboard>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div class="" fxLayout="column">
      <p class="text-gray-900 font-bold mb-0 text-lg">Applicants</p>
      <p class="text-sm text-gray-800 mb-0">This is a list of people who applied to one of your jobs</p>
    </div>
    <!-- <div class="form-control relative text-gray-600" fxLayout="column" fxFlex="25%">
      <hero-icon icon="search"
        icon_class="pointer-events-none z-10 w-5 h-5 absolute top-1/2 transform -translate-y-1/2 left-3"></hero-icon>
      <input class="search-input" placeholder="Search for people, jobs..." />
    </div> -->
  </div>

  <employer-all-job-responses></employer-all-job-responses>

</app-layout-dashboard>
