<section>
  <div class='gutters' fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout="column">
      <p class='text-center text-primary-500'>How It Works</p>
      <p class="text-center text-6xl font-medium mb-16">Hiring Made<br />Easy in 3 Steps</p>
    </div>
  </div>

  <div class='gutters' fxLayout="row wrap" fxLayoutAlign="space-around start">
    <div fxLayout="column" fxFlex="90%" fxFlex.gt-sm="30%" class="text-center step-1">
      <img class="arrow top" src="/assets/images/flare/curved-down.svg" width="80" />
      <img src="/assets/images/icons/boxed/search.svg" width="50" height="50" />
      <p class='text-2xl role-title'>
        Find and attract
        <br />
        candidates
      </p>
      <p class="text-gray-800">Fill your pipeline quickly with one-click job posting to 200+ sites, AI-powered
        sourcing, employee referrals
        and more.</p>
      <img class="arrow bottom" src="/assets/images/flare/curved-down.svg" width="80" />
    </div>
    <div fxLayout="column" fxFlex="90%" fxFlex.gt-sm="30%" class="text-center step-2">
      <img class="arrow top" src="/assets/images/flare/curved-up.svg" width="80" />
      <img src="/assets/images/icons/boxed/clipboard.svg" width="50" height="50" />
      <p class='text-2xl role-title'>
        Move the right
        <br />
        applicants forward
      </p>
      <p class="text-gray-800">Collaborate with hiring teams to evaluate applicants, gather feedback and decide
        who's best, all in one
        recruiting system.</p>
      <img class="arrow bottom" src="/assets/images/flare/curved-up.svg" width="80" />
    </div>
    <div fxLayout="column" fxFlex="90%" fxFlex.gt-sm="30%" class="text-center step-3">
      <img src="/assets/images/icons/boxed/cursor.svg" width="50" height="50" />
      <p class='text-2xl role-title'>
        Make the best hire,<br />
        in half the time
      </p>
      <p class="text-gray-800">Move faster on a platform that automates process and manual tasks, like scheduling
        interviews and getting
        approvals.</p>
    </div>
  </div>
</section>
