<!-- TODO: Cleanup CSS styles -->
<div class="text-center"
  style="border:1px solid #ccc;margin:auto;width:600px;margin-top:100px;border-radius:5px;padding:40px;color:black">
  <span style="font-size:30px;font-weight:bold;display:inline-block;margin-bottom:30px">Connect Your Bank Account</span>
  <button class="btn-primary"
    style="cursor:pointer;background:#5633ff;border:none;margin:20px auto 0;width: 100px;display:block;color:white;padding:10px;border-radius:5px"
    (click)="showPlaidModal()">Connect</button>
</div>
