/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #ebe7ff,
    100 : #ccc2ff,
    200 : #aa99ff,
    300 : #8870ff,
    400 : #6f52ff,
    500 : #5533ff,
    600 : #4e2eff,
    700 : #4427ff,
    800 : #3b20ff,
    900 : #2a14ff,
    A100 : #ffffff,
    A200 : #fbfbff,
    A400 : #ccc8ff,
    A700 : #b4aeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-success: (
    50 : #eef9f3,
    100 : #d4f1e0,
    200 : #b8e7cb,
    300 : #9bddb6,
    400 : #85d6a7,
    500 : #70cf97,
    600 : #68ca8f,
    700 : #5dc384,
    800 : #53bd7a,
    900 : #41b269,
    A100 : #ffffff,
    A200 : #d2ffe1,
    A400 : #9fffbf,
    A700 : #85ffae,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-error: (
    50 : #fff0ed,
    100 : #ffd9d1,
    200 : #ffc0b2,
    300 : #ffa793,
    400 : #ff947c,
    500 : #ff8165,
    600 : #ff795d,
    700 : #ff6e53,
    800 : #ff6449,
    900 : #ff5137,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe5e1,
    A700 : #ffcec8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #fff9ed,
    100 : #ffefd1,
    200 : #ffe5b3,
    300 : #ffdb94,
    400 : #ffd37d,
    500 : #ffcb66,
    600 : #ffc65e,
    700 : #ffbe53,
    800 : #ffb849,
    900 : #ffac38,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff2e1,
    A700 : #ffe7c8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-info: (
    50 : #e5f0ff,
    100 : #bfdaff,
    200 : #94c2ff,
    300 : #69a9ff,
    400 : #4896ff,
    500 : #2884ff,
    600 : #247cff,
    700 : #1e71ff,
    800 : #1867ff,
    900 : #0f54ff,
    A100 : #ffffff,
    A200 : #f7f9ff,
    A400 : #c4d3ff,
    A700 : #abc0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #edf8fb,
    100 : #d2eef5,
    200 : #b4e3ef,
    300 : #95d8e8,
    400 : #7fcfe3,
    500 : #68c7de,
    600 : #60c1da,
    700 : #55bad5,
    800 : #4bb3d1,
    900 : #3aa6c8,
    A100 : #ffffff,
    A200 : #e1f8ff,
    A400 : #aeebff,
    A700 : #95e4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

