<app-layout-default>
  <div fxLayout="flex flex-row">
    <div class="w-full">
      <div class='' fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%">
          <h1 class="font-bold text-3xl mb-6">
            Forgot your password?
          </h1>
          <p>Enter your email in the form below to get a password reset link emailed to you.</p>

          <app-forgot-password-form class="mt-10"></app-forgot-password-form>

          <p class="text-sm text-gray-800 mt-12 text-center">If you know your password you can <a
              class="text-primary-500 font-semibold" [routerLink]="['/login']">login</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</app-layout-default>
