<app-layout-default>
  <div class='' fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="40%" class="preview">
      <img src="/assets/images/maps/partial-map.png" />
      <p>"Just looking at past trends gives me a future plan for how long it will take me to find the company - and that
        means reduced costs and profits."</p>
    </div>

    <div fxLayout="column" fxFlex="60%">
      <div class='' fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="70%">
          <h1 class="text-4xl font-bold mb-4">
            Apply to Join the World's
            Top Talent Network
          </h1>
          <app-talent-register-form></app-talent-register-form>
        </div>
      </div>
    </div>
  </div>
</app-layout-default>
