<app-layout-default>
  <form [formGroup]="signupForm">
    <div
      style="border:1px solid #ccc;margin:auto;width:600px;margin-top:100px;border-radius:5px;padding:40px;color:black">
      <div style="text-align:center;margin-bottom:40px">
        Employer Sign Up
      </div>

      Email*:
      <input style="width:100%;padding:10px;border:1px solid #ccc;border-radius:5px;margin-bottom:20px"
        formControlName="email">

      Password*:
      <input type="password" style="width:100%;padding:10px;border:1px solid #ccc;border-radius:5px;margin-bottom:40px"
        formControlName="password">

      Contact First Name*:
      <input style="width:100%;padding:10px;border:1px solid #ccc;border-radius:5px;margin-bottom:20px">

      Contact Last Name*:
      <input style="width:100%;padding:10px;border:1px solid #ccc;border-radius:5px;margin-bottom:40px">

      Business Name*:
      <input style="width:100%;padding:10px;border:1px solid #ccc;border-radius:5px;margin-bottom:20px">

      Business Location*:
      <input style="width:100%;padding:10px;border:1px solid #ccc;border-radius:5px">

      <button
        style="background:#5633ff;border:none;margin:20px auto 0;width: 100px;display:block;color:white;padding:10px;border-radius:5px"
        (click)="onSubmit()">Sign Up</button>
    </div>
  </form>
</app-layout-default>
