<p>talent-my-jobs works!</p>
<div class="" fxLayout="row wrap" fxLayoutAlign="center">
  <div class="" fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="flex-start">
    search input
  </div>
  <div class="text-right" fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%">
    status
    <!-- Should have these options: All, Active, Ended, Applied, Saved -->
  </div>
</div>

<div class="" fxLayout="row wrap" fxLayoutAlign="center">
  <div *ngFor="let job of jobs" class="" fxLayout="column" fxFlex="100%" fxFlex.gt-sm="100%">
    <talent-my-jobs-list-item [job]="job"></talent-my-jobs-list-item>
  </div>
</div>
